<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069627817066-u0if157mg73qkqjb52a9mokq9agk1hv3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069627817066-u0if157mg73qkqjb52a9mokq9agk1hv3</string>
	<key>API_KEY</key>
	<string>AIzaSyAbpsNOlJL89oc-CYzYSQJSwn5oL6p5HjU</string>
	<key>GCM_SENDER_ID</key>
	<string>1069627817066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Marie.Kallop.ShareASnack</string>
	<key>PROJECT_ID</key>
	<string>shareasnack-9eb3f</string>
	<key>STORAGE_BUCKET</key>
	<string>shareasnack-9eb3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069627817066:ios:e25b268233ee648eddde13</string>
</dict>
</plist>